In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\HP\\Github\\Credit-Card-Limit\\data\\credit.csv")
df.head()

,Income,Credit_Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [3]:
cat_col = df.select_dtypes(include="O").columns
len_col = [df[col].nunique() for col in cat_col]

print(cat_col)
print(len_col)

Index(['Gender', 'Student', 'Married', 'Ethnicity'], dtype='object')
[2, 2, 2, 3]

In [4]:
num_col = df.select_dtypes(exclude="O").columns

for i in num_col:
    print(i, df[i].dtype)

Income float64
Credit_Limit int64
Rating int64
Cards int64
Age int64
Education int64
Balance int64

In [13]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine


db_user = os.getenv("db_user")
db_password = os.getenv("db_password")
db_port = os.getenv("db_port")
db_database = os.getenv("db_database")

engine = create_engine(
    f"mysql+pymysql://{db_user}:{db_password}@localhost:{db_port}/{db_database}"
)

engine.dispose()